<div class="container">
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thread>
				<tr>
					<th>Attach Thermometer</th>
				</tr>
				</thread>
				<tbody>
					<tr>
						<td colspan="4">
							<form class="" ng-submit="submit()" name="thermometerForm" id="thermometerForm">
								<input class="thermometerName" type="text" ng-model="thermometer.name" ng-required="true"
									placeholder="Thermometer name" /> <select ng-model="thermometer.address"
									ng-options="response.physicalAddress as response.physicalAddress for response in response" required="required">
									<option value="">-------TWI ADDRESS-----</option>
						</td>
					</tr>
					<tr>
						<td colspan="3"><textarea class="descriptionTextarea" placeholder="Enter thermometer description here"
								form="thermometerForm"></textarea></td>
					</tr>
					<tr>
						<td></select> <button class="btn btn-block btn-lg btn-primary" type="submit" value="Attach Thermometer" form="thermometerForm"><span
							class="glyphicon glyphicon-plus"></span> Attach</input></td>

						</form>
					</tr>
				</tbody>

			</table>
		</div>
		<div class="col-md-6">
			<table class="table" ng-init="init()">

				<tr>
					<th>NAME</th>
					<th>ADDRESS</th>
					<th>DESCRIPTION</th>
				</tr>

				<tr ng-repeat="t in thermometers">
					<td>{{t.name}}</td>
					<td>{{t.driver.address.physicalAddress}}</td>
					<td></td>
					<td><button class="btn btn-primary btn-danger" ng-click="del(t.id)"><span class="glyphicon glyphicon-trash"></span></input></td>
				</tr>

			</table>
		</div>
	</div>