<table align="center" id="table" ng-init="init()">

	<tr>
		<td colspan="4"><h1>Attach termometer</h1></td>
	</tr>
	<tr>
		<td colspan="4">
			<form ng-submit="submit()" name="thermometerForm">
				<input type="text" ng-model="thermometer.name" ng-required="true" />
				<select ng-model="thermometer.address"
					ng-options="response.physicalAddress as response.physicalAddress for response in response"
					required="required">
					<option value="">--------Choose--------</option>
				</select> <input type="submit" value="Add" />
			</form>
		</td>
	</tr>

	<tr>
		<th>ID</th>
		<th>NAME</th>
		<th>ADDRESS</th>
		<th></th>
	</tr>

	<tr ng-repeat="t in thermometers">
		<td>{{t.id}}</td>
		<td>{{t.name}}</td>
		<td>{{t.driver.address.physicalAddress}}</td>
		<td><input type="button" ng-click="del(t.id)" value="Delete"></input></td>
	</tr>

</table>


