<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">Timer</div>
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="row">
                                <h1>{{stopwatch.elapsedStr('mm:ss')}}</h1>
                                </br>

                                <div class="col-md-4">
                                    <button class="btn btn-block btn-success"
                                            ng-click='start();showNumberPicker(false)'>Start
                                    </button>

                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-block btn-warning"
                                            ng-click='stopwatch.stop();showNumberPicker(true)'>Stop
                                    </button>
                                </div>

                                <div class="col-md-4">
                                    <button class="btn btn-block btn-danger"
                                            ng-click='stopwatch.reset();showNumberPicker(false)'>Reset
                                    </button>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12 dropCounterDiv" ng-show="showNumberPickerInput">
                                    <input placeholder="how many drops?" type="number" ng-model="ctrl.val3" min="0">
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<style>
    body {
        background-color: #EEF2F5;
    }
</style>
